<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--sequence for-->
<div th:each="num : ${#numbers.sequence(1, 5)}" th:text="${num}"></div>
<hr>
<div th:with="dan=2"> 2단 구구단
    <div th:each="i : ${#numbers.sequence(1, 9)}" th:text="${dan} + ' * ' + ${i} + ' = ' + ${dan * i}"></div>
</div>
<hr>
<div> 2-9단 구구단
    <div th:each="dan : ${#numbers.sequence(1, 9)}">
        <div th:each="i : ${#numbers.sequence(1, 9)}" th:text="${dan} + ' * ' + ${i} + ' = ' + ${dan * i}"></div>
    </div>
</div>
<hr>
<div> 짝수 2-9단 구구단
    <div th:each="dan : ${#numbers.sequence(1, 9)}" th:if="${dan % 2 == 0}">
        <div th:each="i : ${#numbers.sequence(1, 9)}" th:text="${dan} + ' * ' + ${i} + ' = ' + ${dan * i}"></div>
    </div>
</div>
<hr>
<div> 홀수 2-9단 짝수 곱 구구단
    <div th:each="dan : ${#numbers.sequence(1, 9)}" th:if="${dan % 2 != 0}">
        <div th:each="i : ${#numbers.sequence(1, 9)}" th:if="${i % 2 == 0}" th:text="${dan} + ' * ' + ${i} + ' = ' + ${dan * i}"></div>
    </div>
</div>
<!--for each-->
</body>
</html>