<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.ArticleDao">
    <insert id="save" parameterType="com.example.basic.Article">
        INSERT INTO article
            SET title = #{title}
                , `body` = #{body}
    </insert>

    <select id="findAll" resultType="com.example.basic.Article">
        SELECT * FROM article
    </select>

    <select id="findById" parameterType="long" resultType="com.example.basic.Article">
        SELECT * FROM article
            WHERE id = #{id}
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM article
            WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.example.basic.Article">
        UPDATE article
            SET title = #{title}
                , `body` = #{body}
            WHERE id = #{id}
    </update>
</mapper>