<html lang="ko" layout:decorate="~{global/layout}">
<div layout:fragment="content">
    <form method="post" onsubmit="checkSubmit(this); return false;" th:action="@{|/article/modify/${article.id}|}">
        <div>
            <label for="title">제목</label>
            <input name="title" th:value="${article.title}" type="text">
            <!--    <div th:text="${article.title}"></div>-->
        </div>
        <hr>
        <div>
            <label for="body">내용</label>
            <input name="body" th:value="${article.body}" type="text">
            <!--    <div th:text="${article.body}"></div>-->
        </div>
        <input type="submit" value="수정"/>
    </form>
    <form method="post" th:action="@{|/article/delete/${article.id}|}">
        <input type="submit" value="삭제"/>
    </form>
    <hr>
    <form action="/comment/write" method="post">
        <input name="body" placeholder="댓글을 입력해주세요." type="text">
        <input name="articleId" th:value="${article.id}" type="hidden">
        <input type="submit" value="댓글 등록">
    </form>
    <hr>
    <ul>
        <li th:each="comment : ${article.commentList}" th:text="${comment.body}"></li>
    </ul>

    <script>
        function checkSubmit(form) {
            console.log('test');
            if(form.title.value.trim().length == 0) {
                alert('제목을 입력해주세요.');
                titleInput.focus();
                return;
            }

            if(form.body.value.trim().length == 0) {
                alert('내용을 입력해주세요.');
                bodyInput.focus();
                return;
            }

            form.submit();
        }
    </script>
</div>
</html>