<!doctype html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Write</title>
</head>
<body>
<ul>
    <li><a href="/article/write">글쓰기</a></li>
    <li><a href="/article/list">글목록</a></li>
</ul>
<hr>

<form action="/article/write" id="write-form" method="POST" onsubmit="checkSubmit(); return false;">
    <input id="input-title" name="title" placeholder="제목을 입력해주세요" type="text">
    <input id="input-body" name="body" placeholder="내용을 입력해주세요" type="text">
    <input type="submit" value="등록">
</form>
<script>
    function checkSubmit() {
        const form = document.getElementById('write-form');

        const titleInput = document.getElementById('input-title');
        const bodyInput = document.getElementById('input-body');

        if(titleInput.value.trim().length == 0) {
            alert('제목을 입력해주세요.');
            titleInput.focus();
            return;
        }

        if(bodyInput.value.trim().length == 0) {
            alert('내용을 입력해주세요.');
            bodyInput.focus();
            return;
        }

        form.submit();
    }
</script>
</body>
</html>