<!doctype html>
<html lang="kor">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Write</title>
</head>
<body>
<form action="/article/write"method="post">
  <input type="text" name="title" placeholder="제목을 입력해주세요.">
  <input type="text" name="body" placeholder="내용을 입력해주세요.">
  <input type="submit" value="등록">
</form>
</body>
</html>