<html lang="ko" layout:decorate="~{article/layout}">
<form action="/login" class="flex flex-col gap-5 items-center mt-[50px]" layout:fragment="content" method="post">
    <input
            class="input input-bordered input-primary w-full max-w-xs"
            name="username"
            placeholder="아이디"
            type="text"/>
    <input
            class="input input-bordered input-primary w-full max-w-xs"
            name="password"
            placeholder="비밀번호"
            type="text"/>
    <input class="btn btn-outline btn-primary w-[100px]" type="submit" value="로그인">
</form>
</html>